
/******** Version History Table CSS **********/


$border-color: #eeeeee;

.VersionHistoryTable {
  border: 1px solid $border-color;
  margin-top: 16px;
}
.Info-VH-Col {
  > ul {
    li {
      list-style-type: none;
      margin-bottom: 4px;
      padding: 0;
      display: flex;
      column-gap: 12px;

      > span.vh-textLabel {
        width: 170px;
        background: #fafafa;
        height: 28px;
        padding: 0 5px;
        line-height: 28px;
        font-size: 13px;
      }

      > span.vh-textData {
        padding: 0 5px;
        line-height: 28px;
        font-size: 13px;
        min-height: 28px;
      }
    }

    margin: 0;
    padding: 0;
  }
}

table.VersionHistoryTable thead > tr > th {
  height: 48px;
  vertical-align: middle;
  color: var(--SiteBlue);
}
table.VersionHistoryTable, table.VersionHistoryTable th, table.VersionHistoryTable td {
  border: 1px solid #eee !important;
  border-collapse: collapse;
  clear: both;
  padding: 0.5rem 16px;

  &:not(:last-child) > :last-child > * {
    border-bottom-color: #eeeeee !important;
  }
}
